/* 
    Author     : Base
*/

table {
    border-spacing: 0;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    color: white;
    overflow:auto;
    margin: 0;
}
th {
    text-align: center;
}
td.postname{
    column-span: all;
    text-align: center;
}
tr:nth-child(4n){
    background-color: salmon;
}
tr:nth-child(4n+1), tr:nth-child(4n+3){
    background-color: lightsalmon;
}
tr:nth-child(4n+2){
    background-color: darksalmon;
}
td:first-child{
    font-size: 0.75em;
}
